/* app css stylesheet */

.wrapper {
	max-width: 1500px;
	margin: auto;
	text-align: center;
}

.tableWrapper {
	width: 600px;
	display: inline-block;
}
.pagination {
	display: block;
	clear: both;
	padding-top: 15px;
	padding-left: 100px;

}
.error-msg {
	color: red;
}
#datepickerForm {
	margin-bottom: 2.5em;
	margin-top: 2.5em;
}
#datepickerForm input {
	cursor: pointer;
}
#datepickerForm input, #investmentForm input{
	margin-right: 1em;
}

#calculateBtn, #uploadBtn {
	margin: 1.5em;
}
	
#upload {
	display: inline-block;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  display: block;
  padding: 1em;
}

.menu > li {
  display: inline-block;
  margin-left: 5em;
  margin-right: 5em;
}

.menu a {
	padding: 0.4em 0.7em 0.4em 0.7em;
	background-color: #6C7A89;
	border-radius: 0.3em;
	font-family: Dosis, sans-serif;
	font-size: 1.3em;
	color: white;
}

.menu a:active, .menu a:hover, .menu a:visited, .menu a:link {
    text-decoration: none;
}

a:hover {
	color: black;
}
