/* app css stylesheet */

.wrapper {
	width: 80%;
	margin: auto;
	text-align: center;
}

.tableWrapper {
	width: 600px;
	display: inline-block;
}
#datepickerForm {
	margin-bottom: 40px;
	margin-top: 40px;
}

.error-msg {
	color: red;
}
#datepickerForm input {
	cursor: pointer;
}
#datepickerForm input, #investmentForm input{
	margin-right: 10px;
}

#calculateBtn {
	margin: 20px;
}
	
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
